<div class="card">
    <div class="card-header primary">
        Cadastro de Produtos
    </div>

    <div class="card-body">
        <form [formGroup]="formProduto" (ngSubmit)="grava(formProduto.get('descricao'))">
            <div id="argumento">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-shopping-cart"></i></span>   
                    <input type="text" formControlName="descricao" class="form-control" placeholder="Digite a Descrição"> 
                </div>
                <div style="margin-top: 8px;">
                    <button #btnGrava  type="submit"   class="btn btn-success" style="margin-right: 5px;">Grava
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>    
                    <button  type="button" (click)="pesquisa(formProduto.get('descricao'))" class="btn btn-primary"   
                        style="margin-right: 5px;">
                        Pesquisa
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button  type="button" (click)="volta()" class="btn btn-warning" style="margin-right: 5px;">
                       <i class="fa fa-arrow-left" aria-hidden="true"></i>
                       Volta
                    </button>
                </div>
            </div>
        </form>    
    
        <div style="margin-top: 5px">
            <div class="alert alert-primary" role="alert" *ngIf="exibeMensagem()">
                {{mensagem}}
            </div>
        </div>
    
        <div id="dados" style="margin-top: 5x;">
            <table class="table">
                <thead>
                  <tr style="height: 30%;">
                    <th class="header1">No</th>
                    <th class="header2">Descrição</th>
                    <th *ngIf="isOrigemLista" class="header2">Marcar</th>
                    <th class="header2">X</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produto of produtos">
                    <td>{{produto.id}}</td>
                    <td>{{produto.descricao}}</td>
                    <td *ngIf="isOrigemLista">
                        <input type="checkbox" 
                            [checked]="produto.selecionado" 
                            (change)="produto.selecionado= !produto.selecionado">
                        <!-- {{produto.selecionado}} -->
                    </td>
                    <td>
                        <button  class="btn btn-danger" (click)="exclui(produto.id)" >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    
    </div>

</div>
