<div class="container">
    <div class="ng-autocomplete">

        <ng-autocomplete 
            [data]="items"
            [searchKeyword]="keyword"
            (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]='notFoundTemplate'>

        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nome"></a>
        </ng-template>

        <ng-template $notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
    </div>

    <div id="produto">
        <button type="button" (click)="incluiProduto()">Inclui Produto</button> <br>
        <button type="button" (click)="listaProduto()">Lista Produto</button> <br>
    </div>
</div>