<div class="card">
    <div class="card-header primary">
        Montagem da Lista de Compra
    </div>

    <div class="card-body">
        <span style="font-weight: bold;">{{listaEdicao.nome}}</span> <br>
        <span style="margin-bottom:3px;">Selecione os produtos da lista</span>

        <div id="botoes">
            <button  type="submit"  (click)="escolhe()" class="btn btn-primary" style="margin-right: 5px;">
                Escolhe
                <i class="fa fa-hand-o-down" aria-hidden="true"></i>
            </button>  
           
            <button  type="button" (click)="grava()" class="btn btn-success" style="margin-right: 5px;">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Grava
            </button>

            <button type="button"  class="btn btn-warning" (click)="volta()" style="margin-right: 5px;">
                Volta
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>  
        </div>

        <div style="margin-top: 5px">
            <div class="alert alert-primary" role="alert" *ngIf="exibeMensagem()">
                {{mensagem}}
            </div>
        </div>

        <div id="select">
          <select class="custom-select" name="selecionado" (change)="changeOrdenacao($event.target.value)">
            <option *ngFor="let ordenacao of ordenacoes" [value]="ordenacao.tipo" >
                {{ordenacao.label}}
            </option>
        </select>
        </div>

        <div id="dados" >
            <table class="table" style="margin-top: 5x;">
                <thead>
                  <tr>
                    <th style="width: 35%;">No</th> <!-- TODO verifica outras formas de redimensionar-->
                    <th class="col-sm-9" >Descrição</th>
                    <th class="col-sm-1" ></th>
                    <th class="col-sm-1" ></th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listaEdicao.itens" 
                    [ngClass]="{'table-primary' : item.noCarrinho}">

                    <td>
                      <div>
                        <input type="checkbox" 
                          [checked]="item.noCarrinho" 
                          (change)="item.noCarrinho = !item.noCarrinho"
                          style="margin-left: 0px;">
                        {{item.id}}
                      </div>
                    </td>

                    <td class="setwidth concat">
                      <div>
                        {{item.descricao}} {{item.marca}} {{item.quantidade}}
                      </div>
                    </td>

                    <td>
                        <button  class="btn btn-info" (click)="altera(item)" >
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                    </td>

                    <td>
                        <button  class="btn btn-danger" (click)="exclui(item.id)" >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>

                  </tr>
                </tbody>
              </table>
        </div>

    </div>

    <div class="modal" tabindex="-1" id="mdl_item" role="dialog">
        <form #cadastro="ngForm">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header btn-primary">
              <h5 class="modal-title">Dados do Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" name="descricao" readonly [(ngModel)]="itemEdicao.descricao"> <br>
              <input type="text" class="form-control" name="marca" placeholder="Marca" [(ngModel)]="itemEdicao.marca"> <br>
              <input type="text" class="form-control" name="quantidade" placeholder="Quant."  [(ngModel)]="itemEdicao.quantidade"> <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="fecha()">Grava</button>
              <button type="button" class="btn btn-secondary" (click)="fecha()">Fecha</button>
            </div>
          </div>
        </div>
    </form>
      </div>

</div>

<!-- <div id="teste" class="table-responsive-sm">
   <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th class="col-sm-9" style="border: 1px black solid;">Descrição</th>
        <th class="col-sm-1" style="border: 1px black solid;"></th>
        <th class="col-sm-1" style="border: 1px black solid;"></th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>    1  </td>
        <td class="setwidth concat">  <div>    Descrição de teste    </div> </td>
        <td>  Icone de Edicao  </td>
        <td>  Icone de exclusao  </td>
      </tr>
    </tbody>
  </table>
</div> -->