.botao {
    display: block;
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    width: 80%;

}

.primary {
    background-color: blue;
    color: white;
}

.table td, .table th {
    padding: .25rem;
}