<div class="card">
    <div class="card-header primary">
        Selecione uma Lista para Carregar
    </div>
    
    <div class="card-body">
        <div class="botao">
            <select class="custom-select" [(ngModel)]="strIdSelecionado">
                <!-- <option selected [value]="-1">Escolha...</option> -->
                <option *ngFor="let lista of listas" [value]="lista.id" >
                    {{lista.nome}}
                </option>
            </select>
        </div>

        <div class="botao">
            <button  class="btn btn-primary" (click)="seleciona()" style="width: 100%; margin-right: 8px;">Seleciona</button>
        </div>
        <div class="botao">
            <button class="btn btn-primary" icon="pi pi-trash" style="width: 100%; margin-right: 8px;">Exclui</button>
        </div>
        <div class="botao">
            <button  class="btn btn-primary" style="margin-right: 8px; width: 100%; ">Fecha</button>
        </div>
    </div>

    
</div>